

/* Header */

header {
  background-color: #fffff8;
  height: 60px;
  margin-top: 10px;
  position: relative;
}

.brand-img {
  width: 290px;
}


.nav-collapse {
  max-width: 350px;
}


/* Top section */

#top-section .row {
  min-height: 500px;
  background-color: #fffff8;
  padding-bottom: 100px;
  padding-top: 100px;
}


.backpack-heading {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  line-height: 4rem;
  color: rgb(7, 7, 133);
}

.top-bag-section {
  height: 350px;
  width: 350px;
  background-image: url(../IMG/Logo\,\ Icon/green.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-bag-section img {
  width: 95%;
}

.blue-btn {
  background-color: rgb(3, 3, 92);
  color: white;
}

.blue-btn:hover {
  background-color: rgb(240, 65, 35);
  color: white;
}

.top-bag-container {
  max-width: 500px;
}


/* Product section */

.product-header {
  color: rgb(7, 7, 133);
  font-weight: bold;
}

.card {
  max-width: 400px;
  
}

.price {
  font-weight: 700;
  font-size: 25px;
}

.bdr-r-5 {
  border-radius: 25px;
}

.card-img-top {
  background-color: rgba(201, 201, 201, 0.623);
}

.bdr-none {
  border: none;
}

#casual-backpack {
  margin-bottom: 100px;
}

#products {
  padding: 100px 0;
}


/* about us */

#about-us {
  min-height: 400px;
  padding: 50px 0;
}

#about-us p {
  font-size: medium !important;
}

.text-blue {
  color: rgb(8, 8, 192);
  font-weight: 600;
}

/* customers reviews */

.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: rgb(241, 217, 241);
}


#customers-reviews {
  background-color: rgba(226, 138, 243, 0.322);
  padding-bottom: 20px;
}

.carousel-inner .d-flex {
  height: 400px;
  border-radius: 40px;
}

.my-carousel {
  max-width: 800px;
  margin: auto;
}


.review {
  width: 70%;
  min-width: 100px;
}